## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd
import numpy as np
import scipy as sp  # Corrected the typo from 'scip' to 'scipy'

df = pd.read_csv('Resources/client_dataset.csv', encoding='utf-8')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [17]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [18]:
# Use the describe function to gather some basic statistics
print(df.describe())

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [19]:
# Use this space to do any additional research
# and familiarize yourself with the data.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB
None

In [20]:
# What three item categories had the most entries?
top_categories = df['category'].value_counts().head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [23]:
# For the category with the most entries, which subcategory had the most entries?
most_common_category = df['category'].value_counts().idxmax()
print(f"The category with the most entries is: {most_common_category}")

category_df = df[df['category'] == most_common_category]
top_subcategory = category_df['subcategory'].value_counts().idxmax()
print(f"The subcategory with the most entries in {most_common_category} is: {top_subcategory}")

subcategory_counts = category_df['subcategory'].value_counts()
print(subcategory_counts.head(1))

The category with the most entries is: consumables
The subcategory with the most entries in consumables is: bathroom supplies
subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [25]:
# Which five clients had the most entries in the data?
top_clients = df['client_id'].value_counts().head(5)
print("Top 5 clients with the most entries:")
print(top_clients)

Top 5 clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [26]:
# Store the client ids of those top 5 clients in a list.
top_clients_series = df['client_id'].value_counts().head(5)
top_client_ids = top_clients_series.index.tolist()
print("Top 5 client IDs stored in a list:")
print(top_client_ids)

Top 5 client IDs stored in a list:
[33615, 66037, 46820, 38378, 24741]

In [28]:
# How many total units (the qty column) did the client with the most entries order order?
most_common_client = df['client_id'].value_counts().idxmax()
print(f"The client ID with the most entries is: {most_common_client}")

client_df = df[df['client_id'] == most_common_client]
total_units_ordered = client_df['qty'].sum()
print(f"Total units ordered by the client ID with the most entries ({most_common_client}): {total_units_ordered}")

The client ID with the most entries is: 33615
Total units ordered by the client ID with the most entries (33615): 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [29]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
print(df[['unit_price', 'qty', 'line_subtotal']].head())

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95
2       13.52   39         527.28
3       36.42   29        1056.18
4      195.10   20        3902.00

In [78]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['total_weight'] = df['unit_weight'] * df['qty']
df['shipping_price'] = np.where(df['total_weight'] > 50, df['total_weight'] * 7, df['total_weight'] * 10)
result = df[['unit_price', 'unit_weight', 'qty', 'total_weight', 'shipping_price']]
print(result.head())

   unit_price  unit_weight  qty  total_weight  shipping_price
0     1096.80         7.50  105        787.50         5512.50
1       24.95         1.49   21         31.29          312.90
2       13.52         1.68   39         65.52          458.64
3       36.42         1.23   29         35.67          356.70
4      195.10        46.43   20        928.60         6500.20

In [155]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
# Calculate the total line price including sales tax
df['line_price'] = (df['line_subtotal'] + df['shipping_price']) * 1.0925
df['line_price'] = df['line_price'].round(2)

print(df[['line_subtotal', 'shipping_price', 'line_price']].head())

   line_subtotal  shipping_price  line_price
0      115164.00         5512.50   131839.08
1         523.95          312.90      914.26
2         527.28          458.64     1077.12
3        1056.18          356.70     1543.57
4        3902.00         6500.20    11364.40

In [156]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
result = df[['unit_cost', 'qty', 'shipping_price', 'line_cost']]
print(result.head())

   unit_cost  qty  shipping_price  line_cost
0     762.71  105         5512.50   85597.05
1      15.09   21          312.90     629.79
2       7.86   39          458.64     765.18
3      24.85   29          356.70    1077.35
4     108.17   20         6500.20    8663.60

In [167]:
# Create a column for the profit of each line using line cost and line price
# Ensure line_price is numeric by removing the currency formatting if necessary
df['line_price'] = df['line_price'].replace({r'\$': '', ',': ''}, regex=True).astype(float)

# Calculate the profit for each line
df['line_profit'] = df['line_price'] - df['line_cost']

# Display the first few rows to verify the new column
print(df[['line_cost', 'line_price', 'line_profit']].head())

   line_cost  line_price  line_profit
0   85597.05   131839.08     46242.03
1     629.79      914.26       284.47
2     765.18     1077.12       311.94
3    1077.35     1543.57       466.22
4    8663.60    11364.40      2700.80

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [229]:
# Check your work using the totals above

order_totals = df.groupby('order_id')['line_price'].sum()

receipt_totals = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

tolerance = 0

for order_id, expected_total in receipt_totals.items():
    calculated_total = order_totals.get(order_id, 0)
    
    difference = abs(calculated_total - expected_total)
    
    print(f"Order ID {order_id}")
    print(f"Total: ${calculated_total:.2f}")

Order ID 2742071
Total: $152811.89
Order ID 2173913
Total: $162388.71
Order ID 6128929
Total: $923441.25

In [230]:
## Part 4: Summarize and Analyze

In [236]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

top_client_ids = [33615, 66037, 46820, 38378, 24741]
client_spending = df.groupby('client_id')['line_price'].sum()
top_clients_spending = client_spending.loc[top_client_ids]

print("Total Amount Spent by Top 5 Clients:")
for client_id, total_spent in top_clients_spending.items():
    print(f"Client ID: {client_id} - Total Spent: ${total_spent:,.2f}")

Total Amount Spent by Top 5 Clients:
Client ID: 33615 - Total Spent: $8,377,308.52
Client ID: 66037 - Total Spent: $10,259,514.79
Client ID: 46820 - Total Spent: $9,743,794.36
Client ID: 38378 - Total Spent: $12,906,550.87
Client ID: 24741 - Total Spent: $82,268,892.02

In [237]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
top_client_ids = [33615, 66037, 46820, 38378, 24741]

summary = df.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_revenue=('line_price', 'sum'),
    total_cost=('line_cost', 'sum'),  # Ensure Total Cost is included here
    total_profit=('line_profit', 'sum')
)

top_clients_summary = summary.loc[top_client_ids]

print(top_clients_summary)

           total_units_purchased  total_shipping_price  total_revenue  \
client_id
33615                      64313            1828984.89     8377308.52
66037                      43018            1395151.85    10259514.79
46820                      75768            1601448.84     9743794.36
38378                      73667            3429455.40    12906550.87
24741                     239862            5126448.37    82268892.02

            total_cost  total_profit
client_id
33615       6175313.91    2201994.61
66037       7004482.98    3255031.81
46820       7007191.64    2736602.72
38378       9634720.98    3271829.89
24741      45688899.71   36579992.31

In [238]:
# Format the data and rename the columns to names suitable for presentation.
top_clients_summary = top_clients_summary.rename(columns={
    'total_units_purchased': 'Units Purchased',
    'total_shipping_price': 'Shipping Cost',
    'total_revenue': 'Total Revenue',
    'total_cost': 'Total Cost',  # Include Total Cost here
    'total_profit': 'Total Profit'
})


# Define the money columns. 
money_columns = ['Shipping Cost', 'Total Revenue', 'Total Cost', 'Total Profit']

# Define a function that converts a dollar amount to millions and formats it as currency
def currency_format_millions(x):
    return x / 1_000_000
    
# Apply the function to the money columns
for col in money_columns:
    top_clients_summary[col] = top_clients_summary[col].apply(currency_format_millions)


# Rename the columns to reflect the change in the money format. 
top_clients_summary = top_clients_summary.rename(columns={
    'Shipping Cost': 'Shipping (millions)',
    'Total Revenue': 'Total Revenue (millions)',
    'Total Cost': 'Total Cost (millions)',  # Ensure this is included
    'Total Profit': 'Total Profit (millions)'
})

top_clients_summary = top_clients_summary.reset_index()

# Display the formatted DataFrame
print(top_clients_summary)

   client_id  Units Purchased  Shipping (millions)  Total Revenue (millions)  \
0      33615            64313             1.828985                  8.377309
1      66037            43018             1.395152                 10.259515
2      46820            75768             1.601449                  9.743794
3      38378            73667             3.429455                 12.906551
4      24741           239862             5.126448                 82.268892

   Total Cost (millions)  Total Profit (millions)
0               6.175314                 2.201995
1               7.004483                 3.255032
2               7.007192                 2.736603
3               9.634721                 3.271830
4              45.688900                36.579992

In [239]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
# Sort the DataFrame by "Total Profit (millions)" in descending order
sorted_top_clients_df = top_clients_summary.sort_values(by='Total Profit (millions)', ascending=False)

# Reset the index and ensure that 'Client ID' is included as a column
sorted_top_clients_df = sorted_top_clients_df.reset_index()

# Display the sorted DataFrame with Client ID
print(sorted_top_clients_df)

   index  client_id  Units Purchased  Shipping (millions)  \
0      4      24741           239862             5.126448
1      3      38378            73667             3.429455
2      1      66037            43018             1.395152
3      2      46820            75768             1.601449
4      0      33615            64313             1.828985

   Total Revenue (millions)  Total Cost (millions)  Total Profit (millions)
0                 82.268892              45.688900                36.579992
1                 12.906551               9.634721                 3.271830
2                 10.259515               7.004483                 3.255032
3                  9.743794               7.007192                 2.736603
4                  8.377309               6.175314                 2.201995